* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'titre';
    src: url('./../public/police/Audiowide-Regular.ttf');
}

@font-face {
    font-family: 'grandTitre';
    src: url('./../public/police/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: 'paragraphe';
    src: url('./../public/police/Iceland-Regular.ttf');
}

body {
    background-color: #F3F0ED;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;

    height: 200vh;
}

header {
    position: fixed;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px;
    background-color: transparent;
    border-bottom: solid 2px black;

    z-index: 3;
}

#panier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#panier > * {
    margin: 10px 30px;
    cursor: pointer;
}

#btnPanier {
    background-color: black;
    color: #71706F;
    padding: 5px 15px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#btnPanier > * {
    margin: 0px 10px;
}

#btnPanier i {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

#menu {
    background-color: black;
    padding: 10px 20px;
    color: #71706F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    cursor: pointer;
}
#menu i {
    color: #71706F;
}

#titre {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titre h1 {
    font-family: 'titre';
}

#grandTitre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: 5vw;          /* taille relative à la largeur de l’écran */
    white-space: nowrap;       /* empêche le retour à la ligne */
    font-family: 'grandTitre';
}

#imgCasque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    z-index: 2;
    width: 700px;
    height: 700px;

    opacity: 0;
    transition: opacity 1.5s ease; 

    display: flex;
    justify-content: center;
    align-items: center;
}

#desc {
    grid-row: 3;
    grid-column: 1;

    padding: 20px 10px;
}

#desc h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
    font-family: 'titre';
}

#desc h3 {
    font-size: 1.7rem;

    font-family: 'titre';
}

#Apropos1 {
    grid-row: 4;
    grid-column: 1;

    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:baseline;
    text-align: justify;
}

#Apropos1 h1 {
    font-family: 'titre';
    margin-bottom: 20px;
}

#Apropos1 ul li {
    padding-bottom: 10px;
    font-family: 'paragraphe';
    font-size: 1.3rem;
}

#Apropos2 {
    grid-row: 5;
    grid-column: 1;
    padding: 0px 20px;
}

#Apropos2 ul li {
    padding-bottom: 10px;
    font-family: 'paragraphe';
    font-size: 1.3rem;
}

#imageMoto {
    width: 33.33%;
    position: absolute;

    bottom: -95%;
    left: 2%;
}

#imageMoto img {
    width: 90%;
    border-radius: 10px;
}

#un {
    grid-row: 1;
    grid-column: 2;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#deux {
    grid-row: 2;
    grid-column: 2;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#trois {
    grid-row: 3;
    grid-column: 2;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#quatre {
    grid-row: 4;
    grid-column: 2;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#cinq {
    grid-row: 5;
    grid-column: 2;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

#six {
    grid-row: 6;
    grid-column: 2;
    border-left: solid 2px black;
    border-right: solid 2px black;
}


/*-------------------------------------------------------------------------------------------------------------*/


.revealTraitTitre {
    clip-path: inset(100% 0% 100% 0); /* caché au départ */
    animation: revealClip 1.5s forwards;
    animation-delay: 0.5s;
}

.reavealTraitBody1 {
    clip-path: inset(100% 0% 0% 0%); /* caché au départ */
    animation: revealClip 0.5s forwards;
    animation-delay: 2.5s;
}
.reavealTraitBody2 {
    clip-path: inset(100% 0% 0% 0%); /* caché au départ */
    animation: revealClip 0.5s forwards;
    animation-delay: 2.1s;
}
.reavealTraitBody3 {
    clip-path: inset(100% 0% 0% 0%); /* caché au départ */
    animation: revealClip 0.5s forwards;
    animation-delay: 1.7s;
}
.reavealTraitBody4 {
    clip-path: inset(100% 0% 0% 0%); /* caché au départ */
    animation: revealClip 0.5s forwards;
    animation-delay: 1.3s;
}
.reavealTraitBody5 {
    clip-path: inset(100% 0% 0% 0%); /* caché au départ */
    animation: revealClip 0.5s forwards;
    animation-delay: 0.9s;
}
.reavealTraitBody6 {
    clip-path: inset(100% 0% 0% 0%); /* caché au départ */
    animation: revealClip 0.5s forwards;
    animation-delay: 0.5s;
}

.reavealTraitHeader {
    clip-path: inset(0% 100% 0% 0%); /* caché au départ */
    animation: revealClip 1.5s forwards;
    animation-delay: 1.7s;
}

.reavealDivHeader1 {
    clip-path: inset(0% 100% 0% 0%); /* caché au départ */
    animation: revealClip 0.6s forwards;
    animation-delay: 1.7s;
}
.reavealDivHeader2 {
    clip-path: inset(0% 100% 0% 0%); /* caché au départ */
    animation: revealClip 0.6s forwards;
    animation-delay: 2.3s;
}
.reavealDivHeader3 {
    clip-path: inset(0% 100% 0% 0%); /* caché au départ */
    animation: revealClip 0.6s forwards;
    animation-delay: 2.9s;
}

@keyframes revealClip {
    to {
        clip-path: inset(0 0 0 0); /* visible entièrement */
    }
}


/*------------------------------------------------------------------------------------------*/

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: var(
        --delay,
        0s
    ); /* Utilisation de la variable CSS pour le délai d'apparition */
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal.disappear-up {
    opacity: 0;
    transform: translateY(-50px); /* Déplace l'élément vers le haut */
    transition: opacity 1s ease, transform 1s ease; /* Durée de transition sans délai */
}

.reveal.disappear-down {
    opacity: 0;
    transform: translateY(50px); /* Déplace l'élément vers le bas */
    transition: opacity 1s ease, transform 1s ease; /* Durée de transition sans délai */
}
